<div class="container">
    <div class="row">
        <h4><b>Company Details:</b></h4>&nbsp;&nbsp;
        <h4>Soobhagmal Neemchand & Company</h4>
    </div>
</div>

<div class="container companydetailcontainer">
    <div class="container forminnercontainer">
        <form>
            <div class="form-group row">
                <div class=" col-md-8">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Enter compnay name" id="name">
                </div>
                <div class="col-md-1">
                    <br>
                    <input type="text" class="form-control" value="1" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="proprietor_name">Proprieter Name</label>
                    <input type="text" class="form-control" placeholder="Enter proprieter name" id="proprietor_name">
                </div>
                <div class="col-md-6">
                    <label for="old_name">Old Name</label>
                    <input type="text" class="form-control" placeholder="Enter old name" id="old_name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="phone_1">Phone No. 1</label>
                    <input type="number" class="form-control" placeholder="Enter phone 1" id="phone_1" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
                <div class="col-md-4">
                    <label for="phone_2">Phone No. 2</label>
                    <input type="number" class="form-control" placeholder="Enter phone 2" id="phone_2" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
                <div class="col-md-4">
                    <label for="mobile1">Mobile No. 1</label>
                    <input type="number" class="form-control" placeholder="Enter mobile 1" id="mobile1" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="mobile2">Mobile No. 2</label>
                    <input type="number" class="form-control" placeholder="Enter mobile 2" id="mobile2" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
                <div class="col-md-4">
                    <label for="mobile3">Mobile No. 3</label>
                    <input type="number" class="form-control" placeholder="Enter mobile 3" id="mobile3" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
                <div class="col-md-4">
                    <label for="mobile4">Mobile No. 4</label>
                    <input type="number" class="form-control" placeholder="Enter mobile 4" id="mobile4" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <label for="address">Address</label>
                    <textarea id="address" rows="2" cols="50" class="form-control"
                        placeholder="Enter address"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" placeholder="Enter city" id="city">
                </div>
                <div class="col-md-3">
                    <label for="gst">GST No.</label>
                    <input type="text" class="form-control" placeholder="Enter gst number" id="gst">
                </div>
                <div class="col-md-3">
                    <label for="state_code">State Code</label>
                    <input type="text" class="form-control" placeholder="Enter state code" id="state_code">
                </div>
                <div class="col-md-3">
                    <label for="place_of_supply">Place Of Supply</label>
                    <input type="text" class="form-control" placeholder="Enter place of supply" id="place_of_supply">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="Enter email address" id="email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="pan">Pan No.</label>
                    <input type="text" class="form-control" placeholder="Enter pan number" id="pan" maxlength="10"
                        min="0"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
                <div class="col-md-3">
                    <label for="report_heading">Report Heading</label>
                    <input type="text" class="form-control" placeholder="Enter report heading" id="report_heading">
                </div>
                <div class="col-md-3">
                    <label for="punchline1">Punchline 1</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 1" id="punchline1">
                </div>
                <div class="col-md-3">
                    <label for="punchline2">Punchline 2</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 2" id="punchline2">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="punchline3">Punchline 3</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 3" id="punchline3">
                </div>
                <div class="col-md-3">
                    <label for="punchline4">Punchline 4</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 4" id="punchline4">
                </div>
                <div class="col-md-3">
                    <label for="punchline5">Punchline 5</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 5" id="punchline5">
                </div>
                <div class="col-md-3">
                    <label for="punchline6">Punchline 6</label>
                    <input type="text" class="form-control" placeholder="Enter punchline 6" id="punchline6">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="fy_from">FY From</label>
                    <input id='fy_from' [(ngModel)]='startDate' type="date" ngbDatepicker class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="fy_to">Fy To</label>
                    <input id='fy_to' [(ngModel)]='endDate' type="date" ngbDatepicker class="form-control">
                </div>
            </div>
            <div class="submitCancelContainer">
                <button type="submit" class="btn btn-primary btnPrimary">Submit</button>
                <button type='button' class="btn btn-danger btnAbort" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>