<div class="container timecontainer">
    <div class="container forminnercontainer">
        <form>
            <div class="form-group row">
                <div class=" col-md-3">
                    <label for="selectTime">Select Time</label>
                    <br>
                    <input list="select_time" id="select_time_input">
                    <select multiple class="form-control" id="select_time">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <div class="container detailsContainer">
                        <label for="selectTime">Details</label>
                        <div class="container">
                            <div class="form-group row">
                                <div class=" col-md-8">
                                    <label for="selectTime">Time Frame</label>
                                    <input type="text" class="form-control" placeholder="Enter compnay name" id="name">
                                </div>
                                <div class="col-md-4">
                                    <br>
                                    <input type="text" class="form-control" placeholder="Enter compnay name" id="name"
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=" col-md-3">
                                    <label for="timeforyear">Time For Year</label>
                                    <input type="text" class="form-control" placeholder="Enter time in year"
                                        id="timeforyear">
                                </div>
                                <div class=" col-md-3">
                                    <label for="timeformonth">Time For Month</label>
                                    <input type="text" class="form-control" placeholder="Enter time in month"
                                        id="timeformonth">
                                </div>
                                <div class=" col-md-3">
                                    <label for="timefordays">Time For Days</label>
                                    <input type="text" class="form-control" placeholder="Enter time in days"
                                        id="timefordays">
                                </div>
                                <div class=" col-md-3">
                                    <label for="timeforint">Time For Int.</label>
                                    <input type="text" class="form-control" placeholder="Enter time in integer"
                                        id="timeforint">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <div class=" col-md-2" style="top: 5px">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><input type="radio" name="addServer" id="serverYes" value="1"></td>
                                                <td>G</td>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <td><input type="radio" name="addServer" id="serverNo" value="1"></td>
                                                <td>B</td>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <td><input type="radio" name="addServer" id="serverNo" value="1"></td>
                                                <td>M</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btnSave" style="float: right;"><i
                                            class="fa fa-save"></i>&nbsp;Save</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btnUpdate"><i
                                            class="fa fa-pencil"></i>&nbsp;Update</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btnDelete"><i
                                            class="fa fa-trash"></i>&nbsp;Delete</button>
                                </div>
                                <div class="col-md-2" style="padding: 0px;">
                                    <button class="btn btn-primary btnRefresh"><i
                                            class="fa fa-refresh"></i>&nbsp;Refresh</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btnCancel"><i
                                            class="fa fa-times"></i>&nbsp;Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>