<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Master Setup
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/masterdetails/companydetails">Company Details</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div style="padding-bottom: 50px;"></div>
<div class="s4-notdlg noindex home-footer" id="home-footer">
  <table class="footer-copyright">
    <tbody>
      <tr>
        <td class="footer-copyright-left">&nbsp;</td>
        <td class="footer-copyright-center">Copyright © 2020 SiteName</td>
        <td class="footer-copyright-right">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>